<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    
    <div id="navbar">
        <ul>
            <li>
                <a href="./">Home</a> 
            </li>

            <li>
                <a href="./about">About</a> 
            </li>

            <li>
                <a href="./quotes">Quotes</a>
            </li>
            <li>
                <a href="./gallery">Gallery</a>
            </li>

        </ul>

    </div>

    <h1>Carreer</h1>
    <h2>Early professional career</h2>
    <p>
        In 1995, Ullrich turned professional for the Telekom team under Walter Godefroot.
        Ullrich was inconspicuous in his first 18 months as a professional. In 1995 he became national time trial champion. He also achieved top ten placings on stages of the 1995 Tour de Suisse. At 21 he wanted to start the 1995 Tour de France but Godefroot thought it was early. Instead he went to the small German stage race, the Hofbräu Cup, where he ended third. Ullrich started the 1995 Vuelta a España later that year only to abandon on stage 12.
    </p>
    <h2>'Eternal second' behind Armstrong</h2>
    <h3>2000 – 2002 Tours</h3>
    <p>
        The 2000 Tour de France brought Ullrich, Marco Pantani and Armstrong against each other for the first time. Armstrong proved too strong and won then and again in 2001. Armstrong crashed in 2001 and Ullrich waited for him to return to his bike. Ullrich cited his failure to defeat Armstrong as why he fell into depression the next year.
        Ullrich rode well in the 2000 Summer Olympics in Sydney, Australia. After establishing a three-man break with Telekom teammates Andreas Klöden and Alexander Vinokourov, Ullrich won the gold with Vinokourov second and Klöden rounding out the all-Telekom podium. He won the silver in the time-trial, losing by only seven seconds to Viatcheslav Ekimov but beating Armstrong soundly into third.
        In May 2002, Ullrich had his driver's license revoked after a drunk driving incident.[14] After a positive blood sample for amphetamine in June 2002, Ullrich's contract with Team Telekom was ended, and he was banned for six months. He said he had taken ecstasy with amphetamine. He had not been racing since January due to a knee injury, and the German Cycling Federation's disciplinary committee agreed that he was not attempting to use the drug for performance enhancement, so he was given a minimum suspension.
        Following a disappointing 2002 season, Ullrich was looking for a new team, with interest coming from CSC–Tiscali, Saeco Macchine per Caffè–Longoni Sport, and Phonak.
    </p>
    <h3>2003 Tour and sportsmanship</h3>
    <p>
        On 13 January 2003, Ullrich, along with his advisor Rudy Pevenage, joined Team Coast on a multi-million Euro deal. Financial problems at the team were known from the beginning of the season. These led to the Coast team folding in May 2003. Ullrich moved on to the newly-founded Team Bianchi, set up from the remainders of Coast by Jacques Hanegraaf, a former cyclist at Team Telekom.
        The 2003 Tour de France was the first for many years that Ullrich had not been considered a favorite. In the first week, Ullrich became sick and almost retired. He lost a minute and a half on Armstrong in the Alps. Ullrich fought back in the time trial. Armstrong had trouble with the heat and lost one and a half minutes to Ullrich. Ullrich was within a minute of Armstrong in the classification. The next day, he closed the gap by another 19 seconds in the first mountain stage. Two days later Ullrich rode away from Armstrong on the Tourmalet but Armstrong caught up. Half way into the next climb, Luz Ardiden, Armstrong's handlebar got caught in a spectator's yellow musette waving in the air and he fell. Ullrich waited for Armstrong to recover, returning the courteous display by Armstrong 2 years previously. Armstrong then caught the group and attacked shortly afterwards.    
        Ullrich lost 40 seconds in the final kilometers, but the final time trial would be decisive. In it, Ullrich crashed and saw a stage and Tour victory disappear. He finished second, by 71 seconds.
        For waiting on Armstrong after his fall during the stage to Luz Ardiden, the German Olympic Association (Deutsche Olympische Gesellschaft) gave Ullrich their fair-play medal. Commenting on Ullrich's wait for Armstrong to recover, Dan Boyle, of the Institute for International Sport said "It was an act that will live with him forever, cynics will say he lost money, but it was a highly commendable thing that he did."
    </p>



</body>
</html>