<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

    <div id="navbar">
        <ul>
            <li>
                <a href="./">Home</a> 
            </li>

            <li>
                <a href="./about">About</a> 
            </li>

            <li>
                <a href="./quotes">Quotes</a>
            </li>
            <li>
                <a href="./gallery">Gallery</a>
            </li>

        </ul>

    </div>


    <ul class="quotes">
        <li>
            "To me there's no doubt I will be fighting for victory."
        </li>
        <li>
            "Whoever still can't put one and one together about what happened in cycling is beyond my help."
        </li>
        <li>
            "I have seen many lean riders in the peloton, but very few Tour winners."
        </li>
        <li>
            "I'm in pain but I'm confident I'll feel better tomorrow."
        </li>
        <li>
            "I'm feeling better than expected."
        </li>
    </ul>
</body>
</html>